/* Global ------------------------------------------------> */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Barlow Semi Condensed", sans-serif;
}

/* Root------------------------------------------> */

/* Primary */
:root {
  --medium-violet: hsl(263, 55%, 52%);
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --very-dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);

  /* Neutral */
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

/* Global --------------------------------------> */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--light-grayish-blue);
  font-size: 1.3rem;
}

.main-wrapper {
  width: 1000px;
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "one one two five"
    "three four four five";
}

/* Testimonial Generic--------------------------------------------------> */

.testimonial {
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(217, 19%, 35%, 0.3);
  line-height: 2.2rem;
}

.top {
  display: flex;
  flex-direction: row;
}

.identification {
  margin-left: 1.5rem;
  line-height: 1.8rem;
}

.testimonial img {
  width: 30px;
  border: 2px solid var(--white);
  border-radius: 50%;
  display: inline;
}

.testimonial header {
  margin: 1.8rem 0 1.8rem 0;
  line-height: 2.5rem;
}

.paragraph-opacity {
  opacity: 70%;
}

.header-opacity {
  opacity: 90%;
}

.name {
  font-size: 1.425rem;
}

.sub-name {
  opacity: 50%;
  font-size: 1.2rem;
}

/* Individual Testimonials-----------------------------------------------> */

.daniel {
  background-color: var(--medium-violet);
  grid-area: one;
  color: var(--white);
  background-image: url("./images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top right 15%;
}

.jonathan {
  background-color: var(--very-dark-grayish-blue);
  grid-area: two;
  color: var(--white);
}

.jeanette {
  background-color: var(--white);
  grid-area: three;
  color: var(--very-dark-grayish-blue);
}

.patrick {
  background-color: var(--very-dark-blackish-blue);
  grid-area: four;
  color: var(--white);
}

.patrick img,
.kira img,
.jeanette img {
  border: 2px solid var(--medium-violet);
}

.kira {
  background-color: var(--white);
  grid-area: five;
  color: var(--very-dark-grayish-blue);
}

.attribution {
  min-width: 220px;
  font-size: 1.2rem;
  color: rgb(97, 96, 96);
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

/* Media Queries------------------------------------------------------------------------------------------------> */

/* Tablet Version----------> */

body {
  min-height: 100vh;
  padding: 3rem;
}

@media screen and (max-width: 950px) {
  .main-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3;
    grid-template-areas:
      "one two"
      "three four"
      "fivee five";
  }

  .daniel {
    grid-area: one;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .kira {
    grid-area: two;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .jeanette {
    grid-area: three;
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .patrick {
    grid-area: four;
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .jonathan {
    grid-area: five;
    grid-column: 1/3;
    grid-row: 3/4;
  }
}

/* Mobile Version-----------------------------------> */

@media screen and (max-width: 600px) {
  .main-wrapper {
    display: block;
    max-width: 375px;
  }

  .testimonial {
    margin: 2rem 0 2rem 0;
  }

  .attribution {
    text-align: center;
  }
}
